In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('AIchallenge.csv')

In [81]:
print(df.head())
print(df.describe())

   Unnamed: 0  col_0  col_1   col_2   col_3      col_4  col_5  col_6  \
0           0      1  cat_0  0.1189  829.10  11.350407  19.48    737
1           1      1  cat_2  0.1071  228.22  11.082143  14.29    707
2           2      1  cat_0  0.1357  366.86  10.373491  11.63    682
3           3      1  cat_0  0.1008  162.34  11.350407   8.10    712
4           4      1  cat_2  0.1426  102.92  11.299732  14.97    667

         col_7  col_8  col_9  col_10  col_11  col_12  col_13
0  5639.958333  28854   52.1       0       0       0       0
1  2760.000000  33623   76.7       0       0       0       0
2  4710.000000   3511   25.6       1       0       0       0
3  2699.958333  33667   73.2       1       0       0       0
4  4066.000000   4740   39.5       0       1       0       0
        Unnamed: 0        col_0        col_2        col_3        col_4  \
count  9578.000000  9578.000000  9578.000000  9578.000000  9578.000000
mean   4788.500000     0.804970     0.122640   319.089413    10.932117
std    2765.074773     0.396245     0.026847   207.071301     0.614813
min       0.000000     0.000000     0.060000    15.670000     7.547502
25%    2394.250000     1.000000     0.103900   163.770000    10.558414
50%    4788.500000     1.000000     0.122100   268.950000    10.928884
75%    7182.750000     1.000000     0.140700   432.762500    11.291293
max    9577.000000     1.000000     0.216400   940.140000    14.528354

             col_5        col_6         col_7         col_8        col_9  \
count  9578.000000  9578.000000   9578.000000  9.578000e+03  9578.000000
mean     12.606679   710.846314   4560.767197  1.691396e+04    46.799236
std       6.883970    37.970537   2496.930377  3.375619e+04    29.014417
min       0.000000   612.000000    178.958333  0.000000e+00     0.000000
25%       7.212500   682.000000   2820.000000  3.187000e+03    22.600000
50%      12.665000   707.000000   4139.958333  8.596000e+03    46.300000
75%      17.950000   737.000000   5730.000000  1.824950e+04    70.900000
max      29.960000   827.000000  17639.958330  1.207359e+06   119.000000

            col_10       col_11       col_12       col_13
count  9578.000000  9578.000000  9578.000000  9578.000000
mean      1.577469     0.163708     0.062122     0.160054
std       2.200245     0.546215     0.262126     0.366676
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     0.000000
75%       2.000000     0.000000     0.000000     0.000000
max      33.000000    13.000000     5.000000     1.000000

In [82]:
df = df.drop(['col_1'], axis=1)

In [95]:
labels = df.iloc[:,-1]

In [84]:
features = df.iloc[:, 0:-1]

In [96]:
features = pd.get_dummies(df)

In [97]:
from sklearn.model_selection import train_test_split
columns_train, columns_test, features_train, features_test = train_test_split(columns, features, test_size = 0.20, random_state=23)

In [94]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.compose import ColumnTransformer
 
numerical_features = features.select_dtypes(include=['float64', 'int64'])
numerical_columns = numerical_features.columns
 
ct = ColumnTransformer([("only numeric", StandardScaler(), numerical_columns)], remainder='passthrough')

AttributeError: 'Series' object has no attribute 'select_dtypes'

In [91]:
X_fitted = ct.fit_transform(X)

NameError: name 'ct' is not defined